:root {
	--fa-default-family: duotone;
	--color-black: #101010;
	--color-white: #FFFFFF;
	--site-background-color: #333333;
	--site-background-offset: var(--color-white);
	--color-title: #1240da;
	--color-title-offset: var(--color-white);
	--color-primary: #0c91d9;
	--color-primary-offset: var(--color-white);
	--color-secondary: #2e54ff;
	--color-secondary-offset: var(--color-white);
	--color-tertiary: #7d0b77;
	--color-tertiary-offset: var(--color-white);
	--color-info: #2196f3;
	--color-info-offset: var(--color-white);
	--color-success: #1c970e;
	--color-success-offset: var(--color-white);
	--color-warning: rgb(191, 84, 31);
	--color-warning-offset: var(--color-white);
	--color-danger: rgb(183, 5, 5);
	--color-danger-offset: var(--color-white);
	--color-shade: rgba(125, 125, 125, 0.2);
	--color-active: var(--color-info);
	--color-active-offset: var(--color-info-offset);
	--color-button: var(--color-info);
	--color-button-offset: var(--color-info-offset);
}

.side-by-side>h2 {
	align-items: center;
	justify-content: center;
}